<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">
    
    <rules>
        <!-- All logs, including Microsoft -->
        <logger name="*" minlevel="Trace" writeTo="allfile" />

        <!-- WebAPI logs -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.*" maxlevel="Info" final="true" />

        <!-- Application logs -->
        <logger name="*" minlevel="Info" writeTo="web" />
        <logger name="*" minlevel="Error" writeTo="error" />
        <logger name="*" minlevel="Fatal" writeTo="fatal" />
    </rules>
    
    <!--TODO: add ELK -->
    <targets>
        <target xsi:type="File"
                name="allfile"
                fileName="${basedir}/logs/all-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File"
                name="web"
                fileName="${basedir}/logs/web-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File"
                name="error"
                fileName="${basedir}/logs/error-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File"
                name="fatal"
                fileName="${basedir}/logs/fatal-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    </targets>
</nlog>